:root {
  --main-brand-font: "Roboto", sans-serif;
  --sub-brand-font: "Raleway", sans-serif;
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --dark-color: #2e2f42;
  --success-color: #31d0aa;
  --text-color: #434455;
  --subtle-text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --modal-overlay-color: #2e2f42;
  --hero-background-color: #2e2f42;
  --white-background-color: #ffffff;
  --modal-background-color: #fcfcfc;
}

body {
  background-color: var(--white-background-color);
  color: var(--text-color);
  font-family: var(--main-brand-font);
  width: 1440px;
  margin: auto;
}

/**
  |============================
  | BASE STYLE
  |============================
*/

img {
  display: block;
}

.list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.link {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Title */

.title-first {
  color: var(--white-background-color);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
}

.title-second {
  color: var(--dark-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-top: 0px;
  margin-bottom: 72px;
}

.title-third {
  color: var(--dark-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin: 0px;
}

/* Paragraphs */

.description {
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 0px;
  margin-bottom: 0px;
}

/**
  |============================
  | HEADER
  |============================
*/

.header-page {
  margin-left: auto;
  margin-right: auto;
}

.header-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-left: 141px;
  padding-right: 141px;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
}

.header-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-address {
  display: flex;
  justify-content: flex-end;
  font-style: normal;
}

/* Navigation */

.nav-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  margin-right: 76px;
  color: var(--primary-brand-color);
  font-family: var(--sub-brand-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.nav-logo-part {
  color: var(--dark-color);
  font-family: var(--sub-brand-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.nav-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px 0;
  gap: 40px;
}

.nav-link {
  color: var(--dark-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--pressed-state-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  border-radius: 2px;
}

/* Contact us (Address) */

.address-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px 0;
  gap: 40px;
}

.address-contacts {
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address-contacts:hover,
.address-contacts:focus {
  color: var(--pressed-state-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/**
  |============================
  | MAIN
  |============================
*/

/* Hero section */

.hero-container {
  background-color: var(--dark-color);
}

.hero-button {
  font-family: var(--main-brand-font);
  color: var(--white-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--primary-brand-color);
  border-radius: 4px;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--pressed-state-color);
  cursor: pointer;
}

.hero-section {
  padding: 188px 0;
  margin: 0 auto;
  text-align: center;
}

/* Features section */

.features-container {
  padding: 0px;
}

.features-section {
  padding-left: 141px;
  padding-right: 141px;
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
}

.features-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
}

.features-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
}

/* Skills */

.skills-container {
  padding: 0px;
}

.skills-section {
  padding-left: 141px;
  padding-right: 141px;
  margin-top: 120px;
  margin-bottom: 120px;
  margin-left: auto;
  margin-right: auto;
}

.skills-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
}

/* Our team */

.team-container {
  background-color: var(--light-color);
  padding: 0px;
}

.team-section {
  padding-left: 141px;
  padding-right: 141px;
  padding-top: 120px;
  padding-bottom: 120px;
  margin-left: auto;
  margin-right: auto;
}

.team-list {
  display: flex;
  flex-direction: row;
  padding: 0px;
  gap: 24px;
}

.team-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0px;
  padding-bottom: 24px;
  gap: 8px;
}

.team-item {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding: 0px;
  gap: 32px;
  background-color: var(--white-background-color);
}

/* Portfolio section */

.portfolio-section {
  padding-left: 141px;
  padding-right: 141px;
}

.portfolio-button-list {
  margin-top: 96px;
  margin-bottom: 72px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px;
  gap: 24px;
  text-align: center;
}

.portfolio-main-button {
  font-family: var(--main-brand-font);
  color: var(--primary-brand-color);
  background-color: var(--light-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.portfolio-main-button:hover,
.portfolio-main-button:focus {
  font-family: var(--main-brand-font);
  color: var(--white-background-color);
  background-color: var(--pressed-state-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.portfolio-apps-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
  flex-basis: calc((100% - 96px) / 3);
  padding-bottom: 120px;
}

.portfolio-apps-container {
  display: flex;
  flex-direction: raw;
  flex-basis: calc((100% - 48px) / 3);
  gap: 24px;
}

.portfolio-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 32px 0px 32px 16px;
  gap: 8px;
  border: 1px solid var(--accent-color);
}

/**
  |============================
  | FOOTER
  |============================
*/

.footer-container {
  background-color: var(--dark-color);
  padding: 0px;
}

.footer-page {
  padding-left: 141px;
  padding-right: 141px;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

.footer-text-container {
  display: flex;
  flex-direction: column;
  width: 264px;
}

.footer-darkmode {
  color: var(--light-color);
}
