:root {
  --main-brand-font: "Roboto", sans-serif;
  --sub-brand-font: "Raleway", sans-serif;
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --dark-color: #2e2f42;
  --success-color: #31d0aa;
  --text-color: #434455;
  --subtle-text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --modal-overlay-color: #2e2f42;
  --hero-background-color: #2e2f42;
  --white-background-color: #ffffff;
  --modal-background-color: #fcfcfc;
}

/* ================== BODY ================== */

body {
  background-color: var(--white-background-color);
  color: var(--text-color);
  font-family: var(--main-brand-font);
  width: 1440px;
  margin: auto;
}

/* Specification */

.list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.link {
  text-decoration: none;
}

/* Title */

.title-first {
  color: var(--white-background-color);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-top: 0px;
  margin-bottom: 48px;
  margin-right: 472px;
  margin-left: 472px;
}

.title-second {
  color: var(--dark-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-top: 0px;
  margin-bottom: 72px;
}

.title-third {
  color: var(--dark-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* Paragraphs */

.description {
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* Buttons */

.main-button {
  font-family: var(--main-brand-font);
  color: var(--white-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--primary-brand-color);
  border-radius: 4px;
  cursor: pointer;
}

.main-button:hover,
.main-button:focus {
  background-color: var(--pressed-state-color);
  cursor: pointer;
}

.portfolio-button {
  font-family: var(--main-brand-font);
  color: var(--primary-brand-color);
  background-color: var(--light-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.portfolio-button:hover,
.portfolio-button:focus {
  font-family: var(--main-brand-font);
  color: var(--white-background-color);
  background-color: var(--pressed-state-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
}
/* ================== /BODY ================== */
/* ------------------------------------------- */
/* ================== HEADER ================== */

/* Header */

.page-header {
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid tomato;
}

.header-container {
  padding-left: 156px;
  padding-right: 156px;
  padding-top: 24px;
  padding-bottom: 24px;
}
/* Logotype */

.brand-logotype {
  color: var(--primary-brand-color);
  font-family: var(--sub-brand-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-part {
  color: var(--dark-color);
  font-family: var(--sub-brand-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* Navigation */

.nav-link {
  color: var(--dark-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--pressed-state-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  border-radius: 2px;
}

/* Contact us */

.adress-style {
  font-style: normal;
}

.header-contacts {
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-contacts:hover,
.header-contacts:focus {
  color: var(--pressed-state-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ================== /HEADER ================== */
/* --------------------------------------------- */
/* =================== MAIN ==================== */

/* Hero section */
.hero-container {
  background-color: var(--dark-color);
}

.section-hero {
  padding-top: 188px;
  padding-bottom: 188px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  outline: 2px solid tomato;
}

/* Features */

.features-container {
  padding: 0px;
}

.section-features {
  padding-left: 156px;
  padding-right: 156px;
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid tomato;
}

/* What are we doing */

.application-container {
  padding: 0px;
}

.section-application {
  padding-left: 156px;
  padding-right: 156px;
  margin-top: 120px;
  margin-bottom: 120px;
  margin-left: auto;
  margin-right: auto;

  outline: 2px solid tomato;
}

/* Our team */

.team-container {
  background-color: var(--light-color);
  padding: 0px;
}

.section-team {
  padding-left: 156px;
  padding-right: 156px;
  padding-top: 120px;
  padding-bottom: 120px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid tomato;
}

.team-list {
  background-color: var(--white-background-color);
}

/* =================== /MAIN =================== */
/* --------------------------------------------- */
/* ================== FOOTER =================== */

.footer-container {
  background-color: var(--dark-color);
  padding: 0px;
}

.webstudio-footer {
  padding-left: 156px;
  padding-right: 156px;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid tomato;
}

.darkmode {
  color: var(--light-color);
}

/* ================== /FOOTER ================== */
